trigger:
  - master

resources:
  containers:
    - container: rust135
      image: wasmer/rust-and-cmake:latest
jobs:
  - job: LinuxContainer
    pool:
      vmImage: 'ubuntu-16.04'
    strategy:
      matrix:
        rust135:
          containerResource: rust135
    container: $[ variables['containerResource'] ]
    steps:
      - script: |
          export PATH=$PATH:$HOME/.cargo/bin
          rustup component add rustfmt
          cargo fmt --all -- --check
        displayName: 'Lint wapm'
      - script: |
          export PATH=$PATH:$HOME/.cargo/bin
          cargo build --verbose
        displayName: 'Build wapm'
      - script: |
          export PATH=$PATH:$HOME/.cargo/bin
          cargo test --verbose -- --test-threads=1
          cargo test --manifest-path lib/wasm-interface/Cargo.toml
        displayName: 'Test wapm'
      - script: |
          curl https://get.wasmer.io -sSfL | sh
        displayName: 'Pre-regression test set up'
      - script: |
          export PATH=$PATH:$HOME/.cargo/bin
          export PATH=$PATH:$HOME/.wasmer/bin
          export WAPM_DISABLE_COLOR=true
          rm $WASMER_DIR/wapm.sqlite
          rm $WASMER_DIR/globals/wapm.lock
          rm -rf wapm_packages
          rm wapm.toml
          rm wapm.lock
          chmod +x end-to-end-tests/install.sh
          echo "RUNNING SCRIPT..."
          ./end-to-end-tests/install.sh &> /tmp/install-out.txt
          echo "GENERATED OUTPUT:"
          cat /tmp/install-out.txt
          echo "COMPARING..."
          diff -B end-to-end-tests/install.txt /tmp/install-out.txt
          export OUT=$?
          if ( [ -d globals ] || [ -f wapm.log ] ) then { echo "globals or wapm.log found; these files should not be in the working directory"; exit 1; } else { true; } fi
          rm wapm.lock
          rm wapm.toml
          rm -rf wapm_packages
          rm /tmp/install-out.txt
          exit $OUT
        displayName: 'Regression test: Install, Uninstall, Run, and List'
      - script: |
          export PATH=$PATH:$HOME/.cargo/bin
          export PATH=$PATH:$HOME/.wasmer/bin
          export WAPM_DISABLE_COLOR=true
          rm $WASMER_DIR/wapm.sqlite
          rm $WASMER_DIR/globals/wapm.lock
          rm -rf wapm_packages
          rm wapm.toml
          rm wapm.lock
          chmod +x end-to-end-tests/verification.sh
          echo "RUNNING SCRIPT..."
          ./end-to-end-tests/verification.sh &> /tmp/verification-out.txt
          echo "GENERATED OUTPUT:"
          cat /tmp/verification-out.txt
          echo "COMPARING..."
          diff -B end-to-end-tests/verification.txt /tmp/verification-out.txt
          export OUT=$?
          if ( [ -d globals ] || [ -f wapm.log ] ) then { echo "globals or wapm.log found; these files should not be in the working directory"; exit 1; } else { true; } fi
          rm wapm.lock
          rm wapm.toml
          rm -rf wapm_packages
          rm /tmp/verification-out.txt
          exit $OUT
        displayName: 'Regression test: verification and public key management'
      - script: |
          export PATH=$PATH:$HOME/.cargo/bin
          export PATH=$PATH:$HOME/.wasmer/bin
          export WAPM_DISABLE_COLOR=true
          rm $HOME/.wasmer/wapm.sqlite
          rm $HOME/.wasmer/globals/wapm.lock
          rm -rf wapm_packages
          rm wapm.toml
          rm wapm.lock
          chmod +x end-to-end-tests/package-fs-mapping.sh
          echo "RUNNING SCRIPT..."
          ./end-to-end-tests/package-fs-mapping.sh &> /tmp/package-fs-mapping-out.txt
          echo "GENERATED OUTPUT:"
          cat /tmp/package-fs-mapping-out.txt
          echo "COMPARING..."
          ## hack to get the current directory in the expected output
          #sed -i.bak "s/{{CURRENT_DIR}}/$(pwd | sed 's/\//\\\//g')/g" end-to-end-tests/package-fs-mapping.txt
          diff -B end-to-end-tests/package-fs-mapping.txt /tmp/package-fs-mapping-out.txt
          export OUT=$?
          if ( [ -d globals ] || [ -f wapm.log ] ) then { echo "globals or wapm.log found; these files should not be in the working directory"; exit 1; } else { true; } fi
          rm wapm.lock
          rm wapm.toml
          rm -rf wapm_packages
          rm /tmp/package-fs-mapping-out.txt
          rm $HOME/.wasmer/wapm.sqlite
          exit $OUT
        displayName: 'Regression test: pkg_fs works globally and when installed locally'
      - script: |
          export PATH=$PATH:$HOME/.cargo/bin
          export PATH=$PATH:$HOME/.wasmer/bin
          export WAPM_DISABLE_COLOR=true
          rm $HOME/.wasmer/wapm.sqlite
          rm $HOME/.wasmer/globals/wapm.lock
          rm wapm.lock
          rm wapm.toml
          rm -rf wapm_packages
          chmod +x end-to-end-tests/manifest-validation.sh
          echo "RUNNING SCRIPT..."
          ./end-to-end-tests/manifest-validation.sh &> /tmp/manifest-validation-out.txt
          echo "GENERATED OUTPUT:"
          cat /tmp/manifest-validation-out.txt
          echo "COMPARING..."
          diff -B end-to-end-tests/manifest-validation.txt /tmp/manifest-validation-out.txt
          export OUT=$?
          if ( [ -d globals ] || [ -f wapm.log ] ) then { echo "globals or wapm.log found; these files should not be in the working directory"; exit 1; } else { true; } fi
          rm wapm.lock
          rm wapm.toml
          rm -rf wapm_packages
          rm /tmp/manifest-validation-out.txt
          rm $HOME/.wasmer/wapm.sqlite
          exit $OUT
        displayName: 'Regression test: manifest validation rejects invalid manifests'
  - job: Windows
    pool:
      vmImage: 'windows-2019'
    steps:
      - powershell: |
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          Invoke-WebRequest "https://win.rustup.rs/x86_64" -OutFile rustup-init.exe -UseBasicParsing
          Start-Process -FilePath 'rustup-init.exe' -ArgumentList '-y', '--default-toolchain', 'stable-x86_64-pc-windows-msvc' -Wait
          Remove-Item .\rustup-init.exe
        displayName: 'install rust'
      - script: |
          set PATH=%PATH%;%USERPROFILE%\.cargo\bin
          rustup component add rustfmt
          cargo fmt --all -- --check
        displayName: 'Lint wapm'
      - script: |
          set PATH=%PATH%;%USERPROFILE%\.cargo\bin
          cargo -V
          cargo test --verbose -- --test-threads=1
          cargo test --manifest-path lib/wasm-interface/Cargo.toml
        displayName: 'test wapm'