[package]
name = "wapm-cli"
version = "0.4.3"
authors = ["The Wasmer Engineering Team <engineering@wasmer.io>"]
edition = "2018"
repository = "https://github.com/wasmerio/wapm-cli"
description = "WebAssembly Package Manager CLI"
license = "MIT"

[dependencies]
billboard = { version = "0.1.0", optional = true }
chrono = { version = "0.4", features = ["serde"] }
colored = "1.8"
dirs = "1"
dotenv = "0.13.0"
dunce = "1.0.0"
failure = "*"
fern = {version = "0.5", features = ["colored"]}
flate2 = "1.0.7"
fs_extra = "1"
graphql_client = "0.7.0"
indicatif = "0.11"
lazy_static = "1.3"
license-exprs = "1.4.0"
log = "0.4"
maplit = { version = "1", optional = true }
minisign = "0.5.9"
path-slash = "0.1.1"
prettytable-rs = "0.8.0"
regex = "1"
reqwest = {version = "0.9.12", features = ["default-tls-vendored"]}
rpassword = "3.0.0"
rusqlite = {version = "0.18", features = ["bundled"]}
semver = "0.9"
sentry = {version = "0.15", optional = true, features = ["with_failure", "with_panic", "with_backtrace"]}
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
structopt = { version = "0.3", features = ["color"] }
tar = "0.4"
tempdir = "0.3"
time = "0.1"
toml = "0.5.6"
toml-query = "0.9.2"
url = "1.7"
walrus = "0.5"
wasm-interface = { path = "lib/wasm-interface" }
wasmparser = "0.39.2"
whoami = "0.5"
zstd = "0.4"
dialoguer = "0.4.0"
hex = { version = "0.4", optional = true }
blake3 = { version = "0.1.0", optional = true }

[dev-dependencies]
tempdir = "0.3"

[workspace]
members = [
   ".",
   "lib/wasm-interface"
]

[features]
default = ["packagesigning"]
telemetry = ["sentry"]
update-notifications= ["billboard"]
prehash-module = ["hex", "blake3"]
packagesigning = []
integration_tests = ["maplit"]
