name: core tests

env:
  RUST_BACKTRACE: 1

on:
  push:
    branches:
      - 'master'
      - '**'
    tags:
      # this is _not_ a regex, see: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
      - '[0-9]+.[0-9]+.[0-9]+*'
jobs:
  setup:
    name: Set up
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.setup.outputs.VERSION }}
      DOING_RELEASE: ${{ steps.setup.outputs.DOING_RELEASE }}
    steps:
      - name: Set up env vars
        id: setup
        shell: bash
        run: |
          VERSION=${GITHUB_REF/refs\/tags\//}
          echo ::set-output name=VERSION::${VERSION}
          DOING_RELEASE=$(echo $VERSION | grep -c '[0-9]\+\.[0-9]\+\.[0-9]\+\(-.*\)\?' || true)
          echo ::set-output name=DOING_RELEASE::${DOING_RELEASE}
          echo $VERSION
          echo $DOING_RELEASE
  test:
    name: Test on ${{ matrix.build }}
    runs-on: ${{ matrix.os }}
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        build: [linux, macos, windows]
        include:
          - build: linux
            os: ubuntu-latest
            rust: stable
          - build: macos
            os: macos-latest
            rust: stable
          - build: windows
            os: windows-latest
            rust: stable
#    env:
#      CARGO_SCCACHE_VERSION: 0.2.10
#      SCCACHE_AZURE_BLOB_CONTAINER: ${{ secrets.SCCACHE_AZURE_BLOB_CONTAINER }}
#      SCCACHE_AZURE_CONNECTION_STRING: ${{ secrets.SCCACHE_AZURE_CONNECTION_STRING }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Configure cargo data directory
        # After this point, all cargo registry and crate data is stored in
        # $GITHUB_WORKSPACE/.cargo_home. This allows us to cache only the files
        # that are needed during the build process. Additionally, this works
        # around a bug in the 'cache' action that causes directories outside of
        # the workspace dir to be saved/restored incorrectly.
        run: echo "CARGO_HOME=$(pwd)/.cargo_home" >> $GITHUB_ENV
#      - name: Install sccache
#        run: |
#          echo "::add-path::${{ runner.tool_cache }}/cargo-sccache/bin"
#          cargo install sccache --version ${{ env.CARGO_SCCACHE_VERSION }} --root ${{ runner.tool_cache }}/cargo-sccache
#      - name: Start sccache
#        run: |
#          ${{ runner.tool_cache }}/cargo-sccache/bin/sccache --start-server
#          ${{ runner.tool_cache }}/cargo-sccache/bin/sscache -s
#          echo "::set-env name=RUSTC_WRAPPER::${{ runner.tool_cache }}/cargo-sccache/bin/sccache"
      - name: Install Cmake (Windows)
        if: matrix.os == 'windows-latest'
        run: choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System'
      - name: Install cmake (macOS)
        if: matrix.os == 'macos-latest'
        shell: bash
        run: |
          set -ex
          curl -O https://cmake.org/files/v3.4/cmake-3.4.1-Darwin-x86_64.tar.gz
          tar xf cmake-3.4.1-Darwin-x86_64.tar.gz
          export CMAKE_BIN_PATH="`pwd`/cmake-3.4.1-Darwin-x86_64/CMake.app/Contents/bin"
          export PATH=$CMAKE_BIN_PATH:$PATH
      - name: Install cmake (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          curl -O https://cmake.org/files/v3.4/cmake-3.4.1-Linux-x86_64.tar.gz
          tar xf cmake-3.4.1-Linux-x86_64.tar.gz
          export CMAKE_BIN_PATH="`pwd`/cmake-3.4.1-Linux-x86_64/CMake.app/Contents/bin"
          export PATH=$CMAKE_BIN_PATH:$PATH
      - name: Tests
        run: |
          cargo test --verbose --features "update-notifications" -- --test-threads=1
      # TODO: re-enable integration tests once registry.wapm.dev works
      # - name: Integration Tests
      #   run: |
      #     make integration-tests
      - name: Tests (Wasm Interface)
        run: |
          cargo test --manifest-path lib/wasm-interface/Cargo.toml
      - name: Check
        run: |
          cargo check --features "telemetry update-notifications"
      - name: Build binary
        run: |
          make release
      - name: Upload Artifacts (Unix)
        uses: actions/upload-artifact@v2
        if: matrix.os != 'windows-latest'
        with:
          name: wapm-${{ matrix.os }}
          path: target/release/wapm
      - name: Upload Artifacts (Windows)
        uses: actions/upload-artifact@v2
        if: matrix.os == 'windows-latest'
        with:
          name: wapm-${{ matrix.os }}
          path: target/release/wapm.exe
#      - name: Cache
#        uses: actions/cache@master
#        with:
#          # Note: crates from the git repo always get rebuilt
#          # so we cache only those subdirectories of target/{debug|release} that
#          # contain the build output for crates that come from the registry.
#          path: |-
#            .cargo_home
#            target/*/.*
#            target/*/build
#            target/*/deps
#          key: ${{ matrix.os }}-${{ matrix.rust }}-${{ hashFiles('Cargo.lock') }}
#          restore-keys: |
#            ${{ matrix.os }}-${{ matrix.rust }}-${{ hashFiles('Cargo.lock') }}
      - name: Release to crates.io
        if: needs.setup.outputs.DOING_RELEASE == '1' && matrix.os == 'ubuntu-latest'
        run: |
          cargo publish --token ${{ secrets.CRATES_IO_TOKEN }}

  regression_tests:
    strategy:
      fail-fast: false
    needs: [setup, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Wasmer
        run: |
          curl https://get.wasmer.io -sSfL | sh
      - name: Download the Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Set up for tests
        run: |
          export PATH=`pwd`/artifacts:$PATH
      - name: 'Regression test: direct execution works'
        shell: bash
        run: |
          chmod +x end-to-end-tests/ci/direct-execution.sh
          ./end-to-end-tests/ci/direct-execution.sh
      - name: 'Regression test: Install, Uninstall, Run, and List'
        shell: bash
        run: |
          chmod +x end-to-end-tests/ci/install.sh
          ./end-to-end-tests/ci/install.sh
      - name: 'Regression test: verification and public key management'
        shell: bash
        run: |
          chmod +x end-to-end-tests/ci/verification.sh
          ./end-to-end-tests/ci/verification.sh
#      - name: 'Regression test: pkg_fs works globally and when installed locally'
#        shell: bash
#        run: |
#          chmod +x end-to-end-tests/ci/package-fs-mapping.sh
#          ./end-to-end-tests/ci/package-fs-mapping.sh
      - name: 'Regression test: manifest validation rejects invalid manifests'
        shell: bash
        run: |
          chmod +x end-to-end-tests/ci/manifest-validation.sh
          ./end-to-end-tests/ci/manifest-validation.sh
      - name: 'Regression test: package fs and command rename'
        shell: bash
        run: |
          chmod +x end-to-end-tests/ci/validate-global.sh
          ./end-to-end-tests/ci/validate-global.sh
      - name: 'Regression test: Init a Manifest and Add some dependencies'
        shell: bash
        run: |
          chmod +x end-to-end-tests/ci/init-and-add.sh
          ./end-to-end-tests/ci/init-and-add.sh

  release:
    needs: [setup, test, regression_tests]
    runs-on: ubuntu-latest
    if: needs.setup.outputs.DOING_RELEASE == '1'
    steps:
      - name: Download the Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.setup.outputs.VERSION }}
          release_name: Release ${{ needs.setup.outputs.VERSION }}
          draft: true
          prerelease: false
      - name: Upload Release Asset Windows
        id: upload-release-asset-windows
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: artifacts/wapm-windows-latest/wapm.exe
          asset_name: wapm-windows.exe
          asset_content_type: application/vnd.microsoft.portable-executable
      - name: Upload Release Asset Linux
        id: upload-release-asset-linux
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/wapm-ubuntu-latest/wapm
          asset_name: wapm-linux-amd64
          asset_content_type: application/x-elf
      - name: Upload Release Asset Mac
        id: upload-release-asset-mac
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/wapm-macos-latest/wapm
          asset_name: wapm-darwin-amd64
          asset_content_type: application/x-mach-binary
